<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie+Flower|PT+Sans|Playfair+Display">
    <script src="https://kit.fontawesome.com/17fd7b6181.js" crossorigin="anonymous"></script>
    <title>{% block title %}Breakfast Coffee{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>